.clients__title {
  font-style: normal;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  margin-bottom: 50px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 480px) {
    justify-content: flex-start;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icons-color);

  transition: color var(--animations), border-color var(--animations);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
    border-color: var(--accent-txt-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

.clients__icons {
  fill: currentColor;
}
