.header {
  border-bottom: 1px solid var(--header-line-color);
}

.header__content {
  display: flex;
  align-items: center;
}

.header__contacts-list {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--paragraph-txt-color);

  transition: color var(--animations);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contacts-item {
}

.header__contacts-item:hover,
.header__contacts-item:focus {
  color: var(--accent-txt-color);
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
