.nav {
  margin-right: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-color);

  transition: color var(--animations);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }
}

.nav__link--current {
  color: var(--accent-txt-color);

  &::after {
    display: flex;
    justify-content: center;
    align-items: center;

    content: '';
    background-color: #2196f3;
    border-radius: 2px;
    width: 100%;
    height: 4px;

    transform: translateY(33px);
  }
}
