.filter__menu {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
  row-gap: 15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  background-color: var(--light-bg-color);
  cursor: pointer;
  font-family: var(--main-font);
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;

  transition: color var(--animations), background-color var(--animations),
    box-shadow var(--animations);

  &:hover,
  &:focus {
    color: var(--secondary-txt-color);
    background-color: var(--accent-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn--accent {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--secondary-txt-color);
  background-color: var(--accent-bg-color);
}
