.team {
  background-color: var(--light-bg-color);
}

.team__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  background: var(--team-item-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--paragraph-txt-color);
  margin-bottom: 16px;
}

.team__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  border-radius: 50%;

  transition: color var(--animations), background-color var(--animations);

  &:hover,
  &:focus {
    color: var(--icons-hover-colors);
    background-color: var(--accent-bg-color);
  }
}

.team__icons {
  fill: currentColor;
}
