.logo {
  display: flex;
  justify-content: center;

  color: var(--main-txt-color);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  font-family: 'Raleway';

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    justify-content: flex-start;
  }
}

.footer__logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.logo__txt--accent {
  color: var(--accent-txt-color);
}

.logo__txt--accent-footer {
  color: var(--secondary-txt-color);
}
