.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--animations), visibility var(--animations);

  &.is-hidden {
    opacity: 0;
    /* visibility:hidden доступность читалкам  */
    visibility: hidden;
    /*pointer-events: none отменяет клики на элементы  */
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  width: 450px;
  height: 609px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;

  background-color: var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform var(--animations), opacity var(--animations);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.3) rotate(1turn);
    opacity: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal__icon {
  transition: fill var(--animations);

  &:hover {
    fill: var(--accent-bg-color);
  }
}
