.form-register {
  text-align: center;
}

.form-register__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);

  @media screen and (min-width: 1200px) {
    line-height: calc(23 / 20);
  }
}

.form-register__group {
  margin-bottom: 20px;
}

.form-register__wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-register__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--paragraph-txt-color);
}

.form-register__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px;
  padding-left: 44px;
  width: 100%;

  transition: border-color var(--animations);

  &:focus,
  &:hover {
    border-color: var(--accent-bg-color);
  }
}

.form-register__input--massage {
  resize: none;
  padding: 12px 16px;
  height: 120px;

  &::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--placeholder-txt-color);
  }
}

.form-register__icon {
  position: absolute;
  bottom: 13px;
  left: 13px;

  transition: fill var(--animations);

  .form-register__input:focus + & {
    fill: var(--accent-bg-color);
  }
  .form-register__input:hover + & {
    fill: var(--accent-bg-color);
  }
}

.form-register__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.form-register__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-register__checkbox:checked + .form-register__confirm .form-register__uncheck {
  opacity: 0;
  transition: opacity var(--animations);
}

.form-register__check {
  fill: var(--secondary-txt-color);
  opacity: 0;
  transition: opacity var(--animations);

  .form-register__checkbox:checked + .form-register__confirm & {
    opacity: 1;
  }
}

.form-register__checkbox:checked + .form-register__confirm {
  background-color: var(--accent-bg-color);
  border-radius: 2px;
}

.form-register__txt {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--agreement-txt-color);
  user-select: none;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.form-register__link {
  color: var(--accent-txt-color);
  text-underline-position: under;
}

.form__btn {
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
  background-color: var(--form-btn-bg-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
